*** USE THE CONCEPT OF LOOPS TO SOLVE THE BELOW PROGRAMS***

1) Python program to count the total number of digits in a number.

TAKE THE INPUT NUMBER : 123456

In [1]:
#wRITE YOUR CODE HERE
number = 123456
count = 0
for digit in str(number):
    count += 1
print("The number of digits in the number is:", count)

The number of digits in the number is: 6

2) Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

In [2]:
#WRITE YOUR CODE HERE
num_list = [1, 3, 5, 6, 99, 134, 55]
even_count = 0
odd_count = 0

for num in num_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 2
Number of odd numbers: 5

3) Python program to get the Fibonacci series between 0 to 50.

In [3]:
#WRITE YOUR CODE HERE
def fibonacci_series(limit):
    a, b = 0, 1
    while b < limit:
        print(b, end=" ")
        a, b = b, a + b

fibonacci_series(50)

1 1 2 3 5 8 13 21 34

4) Python program that accepts a string and calculates the number of digits and letters.

Input

WEBBLINDERS1234

In [4]:
#WRITE YOUR CODE HERE
input_string = "WEBBLINDERS1234"
digit_count = 0
letter_count = 0

for char in input_string:
    if char.isdigit():
        digit_count += 1
    elif char.isalpha():
        letter_count += 1

print("Number of digits:", digit_count)
print("Number of letters:", letter_count)

Number of digits: 4
Number of letters: 11

5) Python program to display all numbers within a range except the prime numbers.

INPUT RANGE : 30 TO 80

In [5]:
#WRITE YOUR CODE HERE
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

for number in range(30, 81):
    if not is_prime(number):
        print(number, end=" ")

30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50 51 52 54 55 56 57 58 60 62 63 64 65 66 68 69 70 72 74 75 76 77 78 80