*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
#WRITE YOUR CODE HERE
def sum_list(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

# Sample list
sample_list = (8, 2, 3, 0, 7)
# Calculate and print the sum
print(sum_list(sample_list))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
def multiply_list(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

# Sample list
sample_list = (8, 2, 3, -1, 7)
# Calculate and print the product
print(multiply_list(sample_list))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
#WRITE YOUR CODE HERE
def reverse_string(s):
  return s[::-1]

# Sample string
sample_string = "1234abcd"
# Calculate and print the reversed string
print(reverse_string(sample_string))

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [9]:
#WRITE YOUR CODE HERE
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
factorial(10)

3628800

5) Write a Python function to check whether a number falls within a given range.

In [12]:
#WRITE YOUR CODE HERE
def is_in_range(number, start, end):
    return start <= number <= end
is_in_range(5, 1, 10)

True